<div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content rounded">
            <button type="button" id="close-popup" class="btn-close popup__close"></button>
        </div>
    </div>
</div>