<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <title>Редактирование сценария</title>
</head>
<body>
<div class="p-5">
    <div class="fs-2 mb-3">Редактирование сценария</div>
    <div class="w-50 mb-3">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Название</span>
            <input id="name_input" type="text" class="form-control" value="">
        </div>
    </div>
    <div class="d-flex">
        <div class="mb-3">
            <button id="addConditionBlock" type="button" class="btn btn-danger btn-lg me-2">Добавить набор условий для
                устройств
            </button>
        </div>
        <div class="mb-3">
            <button id="timeCondition" type="button" class="btn btn-warning btn-lg">Добавить условие времени</button>
        </div>
    </div>
    <div class=" mb-3" id="timeList">
    </div>
    <div id="ConditionBlocks">
        <div id="1">
            <div class="d-flex">
                <div class="mb-3">
                    <button id="deviceCondition" type="button" class="btn btn-warning btn-lg me-2">Добавить условие
                    </button>
                </div>
                <div class="p-2 d-inline-block border border-2 border-warning rounded-3 w-75  mb-3">
                    <div class="fs-4 text-center">Набор условий 1</div>
                </div>
            </div>
            <div class="mb-3" id="conditionsList">
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="mb-3">
            <button id="addCommand" type="button" class="btn btn-success btn-lg me-2">Добавить команду</button>
        </div>
        <div class="p-2 d-inline-block border border-2 border-success  rounded-3 mb-3 w-75">
            <div class="fs-4 text-center">Исполнение</div>
        </div>
    </div>
    <div class=" mb-3" id="handlersList">
    </div>
    <button type="button" class="btn btn-primary btn-lg w-25 fs-4" id="updateSub">Обновить сценарий</button>
</div>
{{> popup}}
<script type="module" src="../../js/editScript.js"></script>
</body>
</html>
